<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
     
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">How it works?</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link active"  href="#">MyEvents</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="#">Blog</a>
            
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="#">Get In touch</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
